* {
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(46, 46, 46);
}

#container {
    width: 25vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(11, 94, 149);
    background: linear-gradient(352deg, rgba(11, 94, 149, 1) 0%, rgba(136, 143, 215, 1) 100%);
    padding: 20px;
    border-radius: 10px;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.search form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: white;
    border-radius: 32px;
}

.search input:-webkit-autofill,
.search input:-webkit-autofill:hover,
.search input:-webkit-autofill:focus,
.search input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

.search input {
    font-size: 1.5rem;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    width: 75%;
}

.search input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.search input:active {
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.search input::placeholder {
    color: #000;
}

.search i {
    font-size: 2rem;
    margin-left: 10px;
}

.search button {
    font-size: 2rem;
    border: 0;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background: #b6b7b9;
}

#blad {
    display: none;
}

#weather-result {
    width: 100%;
    /* background: #fff; */
    border-radius: 10px;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.main-weather-result {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
}

.main-weather-result img {
    width: 225px;
    height: 225px;
    /* margin-top: -70px; */
}

#location {
    font-size: 2rem;
    margin-bottom: 10px;
}

#temp {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#description {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.secondarty-weather-result {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.wind,
.humidity {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: #fff;
}

.wind img,
.humidity img {
    width: 75px;
    height: 75px;
}

#refs {
    position: absolute;
    bottom: 30px;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#refs i {
    color: #ffffff;
    font-size: 3.5rem;
}